.list {
  width: 100%;
}

.list-item {
  display: block;
  width: 100%;
  text-align: center;
}

.list-item-half {
  display: inline-table;
  width: 50%;
  text-align: center;
}

.list-item-link {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px;
  text-decoration: none;
}

.category-icon {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 5px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
